.img_index {
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 10rem;
}
.figure_index {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  background-color: rgb(255, 65, 65);
}
.a_index {
  color: black;
  width: 17rem; 
  height: 7rem;
  background-color: #979797; 
  border-radius: 5rem; 
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
} 
