.figure_inicio1 {
    position:relative;
    left:50%;
    margin-top: 40%;
    transform: translate(-50%, -50%);
}
.img_inicio1 {
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 20rem;
}

.body_inicio1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.label_inicio1 {
    display: block;
    margin: 4rem 1rem;
    background-color: rgb(151, 151, 151); 
    border-radius: 5rem;
    font-size: 4rem;
    text-align: center;
    color: black;
    width: 40rem; 
    height: 5rem;
}
.input_inicio1{
    width: 20rem; 
    height: 90%;
    font-size: 100%;
    background-color: rgb(151, 151, 151); 
}
.a_inicio1 {
    font-size: 4rem;
    text-align: center;
    color: black;
    width: 40rem; 
    height: 5rem;
    text-decoration: none;
}
.h2_inicio1 {
    position: relative;
    align-items: center;
    transform: translateX(-50%);
    left:60%;
    font-size: 4rem;
    margin: 1rem
}
section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}