.figure_inicio1 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img_inicio1 {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 5rem;
}

.body_inicio1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.label_inicio1 {
    display: block;
    margin: 2rem 1rem;
    background-color: rgb(151, 151, 151); 
    border-radius: 5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    width: 20rem; 
    height: 3.3rem;
}
.input_inicio1{
    width: 10rem; 
    height: 2.9rem;
    font-size: 90%;
    background-color: rgb(151, 151, 151); 
}
.a_inicio1 {
    display: block;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    color: black;
    width: 20rem; 
    text-decoration: none;
}
.p_inicio1 {
   font-size: 2.5rem;
   text-align: center; /* Centraliza o texto horizontalmente */
   margin-top: 0.1rem;
   margin-left: auto; /* Centraliza o elemento na horizontal */
   margin-right: auto; /* Centraliza o elemento na horizontal */
   display: block; /* Define o elemento como bloco */
}
section{
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
}