header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
    background-color: rgb(255, 65, 65);
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    position:absolute;
    left:10%;
    font-size: 2rem;
}

.img_header {
    width: 20%;
    max-width: 33rem;
    max-height: 33rem;
    position:relative;
    right:0%;
}
h2{
    position:relative;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

h3{
    position:relative;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

h4{
    position:relative;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.titulo{
    position:relative;
    font-size: 2rem;
    display:flex;
    justify-content: center;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    border-top: 0.1rem solid black;
    margin-top: 2rem;
    position:fixed;
    bottom: 0;
    background-color: rgb(255, 65, 65);
}
.img_footer {
    width: 40%;
    max-width: 25rem;
    max-height: auto;
    margin-top: 1rem;
    position: relative;
    margin-left: 2.5rem;
}
.img_header {
    width: 20%;
    max-width: 33rem;
    max-height: 33rem;
    position:relative;
    right:0%;
}

.section_pedidos1 {
    margin: 1rem;
    background-color: rgb(151, 151, 151); 
    color: white;
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
    font-family: 'Dosis', sans-serif;
}
.h2_pedidos1{
    background-color: hsl(0, 0%, 82%); 
    border: 1rem black;
    border-radius: 5rem;
    color: #000000;
}
.select_pedidos1 {
    padding: 1rem;
    font-size: 1.5rem;
}
.select1_pedidos1 {
    padding: 1rem;
    font-size: 1.5rem;
}
.section1_pedidos1{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    justify-items: center;
    margin-top: 3rem;
    font-family: 'Dosis', sans-serif;
}

.a_pedidos1 {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
    color: #000;
    text-decoration: none;

}