header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
}

h1{
    position:absolute;
    left:20%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.img_header {
    width: 20%;
    max-width: 33rem;
    max-height: 33rem;
    position:relative;
    right:0%;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

h2{
    position:relative;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

h3{
    position:relative;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

titulo{
    position:relative;
    font-size: 2rem;
    display:flex;
    justify-content: center;
}

.img_perfil{
    position:relative;
    max-width: 10rem;
    max-height: 10rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    border-top: 0.1rem solid black;
    margin-top: 2rem;
    position:fixed;
    bottom: 0;
}

.img_footer {
    width: 40%;
    max-width: 25rem;
    max-height: auto;
    margin-top: 1rem;
    position: relative;
    margin-left: 2.5rem;
}

.link{
    text-decoration: none;
    color:inherit;
}

.borda_pratos{
    margin-top:5%;
    position: relative;
    display:flex;
    flex-direction: row;
    width: 70%;
    min-height: 8rem;
    border:0.2rem solid black;
    align-items: center;
}

.prato{
    display:flex;
    flex-direction: column;
}

.imagem_prato{
    position:relative;
    left:20%;
    min-height: 6rem;
    min-width: 6rem;
}