header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.img_header {
    width: 20%;
    max-width: 33rem;
    max-height: 33rem;
    position:relative;
    right:0%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    border-top: 0.1rem solid black;
    margin-top: 2rem;
    position:fixed;
    bottom: 0;
}

.img_footer {
    width: 40%;
    max-width: 25rem;
    max-height: auto;
    margin-top: 1rem;
    position: relative;
    margin-left: 2.5rem;
}

.link{
    text-decoration: none;
    color:inherit;
}