h2{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.img_footer {
    width: 30%;
    max-width: 33rem;
    max-height: 33rem;
    position:relative;
}
